body{
    background-color: aquamarine;

}
body >h1{
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body > div > p {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

body>div {
   
    border-style: double;
    border-color: red;
    border-width: 10px;
}