<link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

<html>
    <head>
        <title>{{title}} - Order List </title>
    </head>
    <body>
        <h1>Order List</h1>
        {% for order in orders %}
        <div>
            <p> 
                <a href="orders/{{ loop.index }}">Order {{(orders.index(order) + 1)}}: {{order.customer_name}}</a>
                <!-- Customer: {{order.customer_name}} <br>
                Order: {% for key in order.toppings %} 
                    {{key}}: {{order.toppings[key]}}
                {% endfor %} <br>
                Address: {{order.delivery_address}}<br>
                Time: {{order.order_date}} -->
            </p>
        </div>
        {% endfor %}
        <img src="/static/images/pizzaimage.jpg" alt="pizza">
    </body>
</html>